@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: coral;
}

#create p{
    border: 4px dashed coral;

    width: 200px;
    height: 200px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;


    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

}

span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
}

span.size-60 {
    font-size: 80px;
    font-variation-settings: 'OPSZ' 80;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    margin: 50px;
}

.node {
    display: flex;
    flex-direction: column;
    justify-content: end;

}
.indicate{

    border: 1px dashed;
    margin-left: 10px;
    border-radius: 5px;
}

.node-header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.node-header p {

    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;

}

.modify {
    width: 100%;
    padding-right: 40px;
    padding-left: 10px;
    padding-bottom: 10px;

    display: flex;

    flex-direction: row;
    justify-content: space-between;

}

.modify span {
cursor: pointer;

}



.node-body {

    border-radius: 5px;

    display: grid;
    grid-template-columns: 3fr 1fr 1fr;

    padding: 10px;

}


.value {
    background-color: blanchedalmond;
    border-top: 2px solid coral;
    border-left: 2px solid coral;
    border-bottom: 2px solid coral;
    border-right: 2px dashed coral;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    background-color: blanchedalmond;
    border-top: 2px solid coral;
    border-right: 2px solid coral;
    border-bottom: 2px solid coral;


    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-arrow-container {
    position: relative;
    top: -40px;
    left: -30px;
}

.next-arrow-container span {
    position: absolute;
}


/*******************/

.triangle,
.triangle:before,
.triangle:after {
    width: 4em;
    height: 4em;
}

.triangle {
    overflow: hidden;
    position: relative;
    margin: 7em auto 0;
    border-radius: 20%;
    transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
    cursor: pointer;
    pointer-events: none;
}

.triangle:before,
.triangle:after {
    position: absolute;
    background: orange;
    pointer-events: auto;
    content: '';
}

.triangle:before {
    border-radius: 20% 20% 20% 53%;
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%);
}

.triangle:after {
    border-radius: 20% 20% 53% 20%;
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%);
}

/** extra styles to show how it works **/

.triangle:hover {
    overflow: visible;
}

.triangle:hover:before,
.triangle:hover:after {
    background: none;
}

.triangle:hover,
.triangle:hover:before,
.triangle:hover:after {
    border: dashed 1px;
}